<footer role="contentinfo" class="wrapper flex-container">
  <div class="footer-content">
    <p>
      <small class="meta-information">Designed and built by Ridium Dahlia</small>
    </p>
  </div>
</footer>
