@charset "UTF-8";

:root {
  --pixel-neg5: -0.3125rem;
  --pixel-2: 0.125rem;
  --pixel-5: 0.3125rem;
  --pixel-10: 0.625rem;
  --pixel-15: 0.9375rem;
  --pixel-20: 1.25rem;
  --pixel-25: 1.5625rem;
  --pixel-30: 1.875rem;
  --pixel-40: 2.5rem;
  --pixel-50: 3.125rem;
  --pixel-60: 3.75rem;
  --spacing-neg1: var(--pixel-neg5);
  --spacing-0: var(--pixel-2);
  --spacing-1: var(--pixel-5);
  --spacing-2: var(--pixel-10);
  --spacing-3: var(--pixel-15);
  --spacing-4: var(--pixel-20);
  --spacing-5: var(--pixel-25);
  --spacing-6: var(--pixel-30);
  --spacing-7: var(--pixel-40);
  --spacing-8: var(--pixel-50);
  --spacing-9: var(--pixel-60);
  --border-thin: var(--pixel-2);
  --border-thick: var(--pixel-5);
  --wrapper-width: 64rem;
  --focus-underline: 0.375rem;
  --font-weight-bold: 700;
  --nav-underline-offset: 0.5rem;
  --color-black: #090806;
  --color-dark-grey: #505a5f;
  --color-grey: #b1b4b6;
  --color-white: green;
  --color-blue: #155389;
  --color-dark-blue: #0c3455;
  --color-pink: #f7bbd3;
  --color-dark-pink: #ef71a3;
  --color-yellow: #ffdd00;
  --color-mode: "light";
  --color-background: var(--color-white);
  --color-primary-text: var(--color-black);
  --color-secondary-text: var(--color-dark-grey);
  --color-link: var(--color-blue);
  --color-hover: var(--color-dark-blue);
  --color-active: var(--color-black);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-black);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-white);
}
